form {
    background-color: #eab543;
    width: 100%;
    height: 100%;
    text-align: center;
}

input {
    font-size: xx-large;
    color: snow;
}

label {
    padding-top: 50%;
    color: white;
    font-size: xx-large;
    min-height: 80vh;
}

